html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title{
  text-align: center;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: auto;
  border: 1px solid;
  margin-top: 20%;
}

.footer {
  text-align: center;
  margin-top: auto;
}