html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  text-align: center;
}

.prompt {
  text-align: center;
  margin-top: 10%;
}

.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: auto;
  border: 3px solid;
  margin-top: auto;
}

.hovered {
  background-color: red;
}

.footer {
  text-align: center;
  margin-top: auto;
}